.grid_container{
    font-family:'Courier New', Courier, monospace;
    display: grid;
    height: 100vh;
    margin: 0em;
    background-image: url(../assets/bbdy.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.grid_container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.7fr;
    grid-template-areas: "header"
                         "h-low"
                         "cont_box"
                         "footer";
}
.header{
    background: linear-gradient(to bottom, rgb(54, 54, 54), black);
    display: flex;
    flex-direction: column;
}
.Logo{
    display: none;
}
.headline{
    font-style: italic; 
    font-size: 7vw; 
    font-weight: bold;
    text-shadow: 0.02em 0.02em black; 
    color: green;   
}
.menu{
    border: .3vw solid white;
    padding: .7vw;
    font-size: 4vw;
    margin-left: 2vw;
    color: white;
}
ul{
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
}
li{
    display: block;
}
.submenu{
    position: relative;
}
.search{
    display: none;
}
input[type="search"]{
    height: 6vw;
    width: 100%;
    font-size: 5vw; 
    vertical-align: middle;
}
input[type="submit"]{
    border: none;
    font-size: 4.5vw; 
    width: 100%;
    height: 6vw; 
    vertical-align: middle;
}
.header_button{
    display: none;
    background-image: url(../assets/bbdy.jpg);
    border: 0.15vw white solid;
    border-radius: 0.5vw;
    color: green;
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    padding: 5vw;
}
ul:hover li{
    display: block;
    margin-top: 1vw;
}

.content_box{
    grid-area: cont_box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vw;
}
.include{
    flex-basis: 1210px;
    flex-shrink: 1;
    color: rgb(255, 255, 182);
}
.title{
    text-align: center;
    font-size: 5vw;
    padding: 0.2vw;
    background-color: black;
}
.description>div{
    text-align: justify;
    font-size: 4vw;
    padding: 0.4vw;
}
.description>p{
    text-align: justify;
    font-size: 4vw;
    padding: 0.4vw;
}
.description>h1{
    padding: 0.2vw;
}
.workers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.workers img{
    max-width: 35%;
    margin-right: 1vw;
    float: left;
    vertical-align: middle;
}
.workers div{
    font-size: 5vw;
    margin-bottom: 2vw;
}
.workers p{
    font-size: 4vw;
    text-align: left;
}
.vacancy form{
    border: 2px solid black;
    padding: 1vw
}
.vacancy div{
    display: flex;
    flex-direction: row;
    font-size: 4vw;
    margin-bottom: 3vw;
}
.vacancy div:last-child{
    margin-bottom: 0;
}
.vacancy input{
    font-size: 3vw;
    height: 10%;
    width: 100%;
}
.vacancy select {
    font-size: 3vw;
    height: 15%;
    width: 100%;
}
.vacancy input:last-of-type{
    height: 10%;
    width: 100%;
}
.vacancy textarea {
    font-size: 3vw;
    width: 98%;
}


.footer{
    grid-area: footer;
    background-color: black;
}
.footer_style1{
    font-size: 4vw;
    color: white;
}
.footer_style1 img{
    display: none;
}
.footer_style1 p{
    margin: 1vw;
    text-align: justify;
}
.footer_style2{
    margin-left: 1vw;
    font-size: 4vw;
    color: white;
}
.footer_img2{
    display: none;
}
.follow_string{
   display: block;
}
input[type="email"]{ 
    max-width: 100%;
}
input[type="button"]{
    border: none;
    font-size: 4vw;
    max-width: 100%;
}
.footer_img3{
    display: none;
}