.grid_container{
    font-family:'Courier New', Courier, monospace;
    display: grid;
    height: 100vh;
    margin: 0em;
    background-image: url(../assets/bbdy.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.grid_container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.7fr;
    grid-template-areas: "header"
                         "content1"
                         "content2"
                         "footer";
}
.header{ 
    position: fixed;
    grid-area: header;
    background: linear-gradient(to bottom, rgb(54, 54, 54), black);
}
.Logo{
    width: 5%;
    height: 5%;
}
.menu div{
    display: none;
}
.menu_style{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.submenu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.header_style{
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    justify-content: flex-start; 
}
.headline{
    font-style: italic; 
    font-size: 1.8vw; 
    font-weight: bold;
    padding-left: 0.6em; 
    text-shadow: 0.02em 0.02em black; 
    color: green;   
    margin-left: .5vw;
}
.search{
    display: flex;
    flex-direction: row;
    color: green;   
    margin-top: .5vw;
    margin-left: 10vw;
    font-size: 1.2vw; 
    font-weight: bold;
}
input[type="search"]{
    height: 1.2vw;
    max-width: 100%;
    font-size: 1vw; 
}
input[type="submit"]{
    max-width: 100%;
    height: 1.2vw;
    margin-right: 9vw; 
}
.header_button{
    border: 0.1vw white solid;
    border-radius: 0.5vw;
    padding: 0.4vw;
    margin-right: 0.7vw;
    color: green;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
.header_button:hover{
    background-color: beige;
    border-color: green; 
}
.cart_button{
    border: 0.1vw white solid;
    padding: 0.35vw;
    margin-left: 0.4vw;
    border-radius: 0.8vw;
    text-align: center;
    font-size: 1.2em;
    background-attachment: initial;
    background-size: cover;
    background-color: rgb(155, 60, 100);
    font-weight: bold;
}
.content_box1{
    grid-area: content1;
    margin-top: 4vw;
    padding: 1vw;
}
.category_title{
    font-size: 2vw;
    text-align: left;
    color:white;
    text-shadow: black 0.1em 0.1em ;
}
.item{
    display: block;
    float: left;
    position: static;
    margin: 2vw;
    box-sizing: border-box;
    border: 0.07em white solid;
    border-radius: 0.5em;
    padding: 1vw;
    width:20vw; 
    height: 26vw;
    background:black;   
    text-align: center; 
    color: black;
}
.img_item{
    border: 0.1vw black solid; 
    border-radius: 0.5vw;
    background-color: rgb(255, 255, 255);  
    max-width: 100%;
}
.item_description{
    font-size: 1vw;
    font-weight: bold;
    max-width: 100%;
    color: white;
}
.item_button{
    margin-top: 0.7vw;
    background-color: white;
    font-size: 1vw;
    font-weight: bold;
}
.item_button:hover{
    background-color: gray;}
.content_box2{
    grid-area: content2;
    padding: 1vw;
}
.slot{
    display: block;
    float: left;
    margin: 2vw;
    box-sizing: border-box;
    border: 0.07em white solid;
    border-radius: 0.5em;
    padding: 1vw;
    width:20vw;
    height: 23vw;
    text-align: center; 
    background:black;    
    color: black;
}
.footer{
    grid-area: footer;
    background-color: black;
}
.footer_style1{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin: auto 15vw;
    font-size: 1vw;
    color: white;
}
.footer_style1 p{
    margin-left: 0.8vw;
    text-align: justify;
}
.footer_style1 img{
    margin: auto .6vw;
    vertical-align: middle;
    width: 10%;
    height: 10%;
}
.footer_img2{
    margin-top: -1.6vw;
}
.footer_style2{
    margin: auto 15vw;
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-size: 1vw;
    color: white;
}
.follow_string{
    margin-top: 1vw; 
    margin-left: 1vw; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1.2vw;
    vertical-align: middle;
    font-size: 1vw; 
}
.footer_img3{
    width: 5.4%;
    align-self: center;
    margin: -0.7vw 0.3vw 0.3vw 0.3vw;
}